#**Data Types and Structures Questions**

## 1. What are data structures, and why are they important?

####-->> Data structure are ways of organizing and storing data so that it can be accessed and modified efficiently.Examples-string,list,set,tuples,dictionry,array.
#### **Importance of Data Structure:**
#### 1. They help in efficient data storage and retrieval.
#### 2. They improve the performance of programs by reducing time and memory storage.
#### 3. They are essential for designing efficient algorithoms and solving complex problems.

##2. Explain the difference between mutable and immutable data types with examples.

#### *   Mutable Data types are those whose values can be changed after creation. This means the same memory location is modified.
Examples: list,dictionary,set.

#### *    Immutable Data types are those whose values cannot be changed after creation. Any modification creats a new object in memory.
Examples: int,float,string,tuple.

## 3.What are the main differences between lists and tuples in Python?


1.   Mutability: Lists are mutable,so their elements can be changed,while tuples are immutable and cannot be modified after creation.

2.   Syntax: Lists are created using square brackets [],whereas tuples use parentheses().

3.   Performance & Safety: Tuples are faster and more memory-efficient than lists and are safar for fixed data

## 4.Describe how dictionaries store data.

#### -->> A dictionary in Python stores data in the form of key-value pairs. Each key is unique and is used to access its corresponding value.Dictionaries use a hashing mechanism,which allows fast data retrieval. The data is stored  in an unordered way but can be accessed efficiently using keys.

## 5. Why might you use a set instead of a list in Python?

#### -->> A set is used instead of a list in Pythonn because:


1.  Sets store only unique elements,so duplicate values are automatically removed.
2.  Sets provide faster membership testing(checking if an element exists) compared to list.  
3.  Sets support mathematical operations like union,intersection and difference.

## 6.What is a string in Python, and how is it different from a list?

####-->> A string in Python is a sequence of charecters enclosed in single quotes(' '),double quotes(" "),or triple quotes.It is used to store and manipulate text data.
### Difference between string and list:


1.  A string is immutable,whereas a list is mutable.
2.  A string stores only characters,while a list can store different data types.

## 7.How do tuples ensure data integrity in Python?

#### -->> Tuples ensure data integrity in Python because they are immutable,meaning their values cannot be changed after creation. This prevents accidental modification of data.Tuples are useful for storing fixed or constant data and can be safely used as keys in dictionaries.

## 8.What is a hash table, and how does it relate to dictionaries in Python?

#### -->>A hash table is a data structure that stores data using key-value pairs and uses a hash function to map keys to memory location for fast access.
#### In Python,dictionaries are implemented using hash tables,which allows efficient insertion,deletion,and searching of data using keys.

##9. Can lists contain different data types in Python?

#### -->> Yes,lists can contain different data types in Python.
#### A list can store elements like integers,floats,strings,and even other lists together in a single collection. This makes lists very flexible and useful for handling varied data.
#### Ex: list1=[13,4.5,"Krishna",[1,2,3,4]]

## 10.Explain why strings are immutable in Python.

####-->>Strings in Python are immutable to improve performance,memory efficiency,and security.Once a string is created,it cannot be changed; any modification creates a new string object instead of altering the original one.This immutability allows strings to be safely shared and reused in memory and used as dictionary keys without risk of unexpected changes.

## 11.What advantages do dictionaries offer over lists for certain tasks?

####-->> Dictionaries offer several advantages over lists for certain tasks:


1.   Fast access using keys: Dictionaries allow direct access to values using unique keys,making searching much faster than lists.
2.   Better dara organization: They store data as key-value pairs,which makes the data more meaningful and structured.
3.   Efficient for large data: Dictionaries handle large datasets efficiently and are ideal when data needs to be looked up rather than accessed by position.

## 12. What advantages do dictionaries offer over lists for certain tasks?



#### 1.   Faster data retrieval: Values are accessed using keys,making lookup faster than searching through a list.
#### 2.   Meaningful data storage: Data is stored as key-value pairs,which improves clarity and organization.
#### 3.   Efficient handling of large data: Dictionaries perform better than lists when managing and searching large datasets.

## 13. How do sets handle duplicate values in Python?

#### -->> In Python,sets automatically handle duplicate values by removing them.A set stores only unique elements,so if duplicate values are added,only one copy is kept.This helps maintain data uniqueness and simplifies duplicate removal.

## 14. How does the “in” keyword work differently for lists and dictionaries?

#### In a list, "in" checks whether a value exists among the list elements.
Ex: "a" in ["a","b"]-->True
####  In a dictionary, "in" checks whether a key exists, not a value.
Ex: "name" in {"name":"Mahuya","age": 20}-->True
#### So,"in" searches elements in lists and keys in dictionaries.

## 15. Can you modify the elements of a tuple? Explain why or why not.

#### No,we cannot modify the elements of a tuple in Python because tuples are immutable.Once a tuple is created,its values cannot be changed,added,or removed.This immutability helps protect data from accidental changes and ensures data integrity.

## 16. What is a nested dictionary, and give an example of its use case?

#### A nested dictionary in Python is a dictionary that contains another dictionary as its values. It allows organizing complex,hierarchical data in a structured way.

In [1]:
weather={"New York": {"temperature": 25, "humidity": 60},
          "London": {"temperature":18,"humidity":50}
         }

## 17. Describe the time complexity of accessing elements in a dictionary.

####-->The time complexity of accessing elements in a dictionary in Python is generally O(1)(constant time).


*   This is because dictionaries use a hash table internally,which allows direct access to values using keys without scanning all elements.
*   However,in rare cases of hash collisions,access time can degrade,but python handles collisions efficiently,so average access remains O(1)

## 18. In what situations are lists preferred over dictionaries?

#### 1.Order matters: When the sequence of elements is important,as lists maintain order.   
#### 2.Simple collections:When you just need a collection of items without key-value pairs.
#### 3. Frequent iteration: When you need to loop through all elements in order or perform operations on each element.

## 19. Why are dictionaries considered unordered, and how does that affect data retrieval?

#### -->> Dictionaries are considered unordered because the elements(key-value pairs) do not have a fixed sequence; Python does not share them in the order they were added

##20. Explain the difference between a list and a dictionary in terms of data retrieval.

#### List: Elements are accessed using their index position. Retrieval requires scanning the list or knowing the index,which can take O(n) time in the worst case.
#### Dictionry: Values are accessed using keys,not positions.Retrieval is direct and fast (O(1)) due to the hash table mechanism.

#**Practical Questions**

## 1. Write a code to create a string with your name and print it.

In [4]:
name= "Mahuya Kabiraj"
print(name)

Mahuya Kabiraj

## 2. Write a code to find the length of the string "Hello World".

In [2]:
str=("Hello World")
print(len(str))

11

## 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [5]:
text="Python Programming"
print(text[0:3])

Pyt

## 4. Write a code to convert the string "hello" to uppercase.

In [6]:
text="hello"
print(text.upper())

HELLO

##5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [7]:
text="I like apple"
print(text.replace("apple","orange"))

I like orange

##6. Write a code to create a list with numbers 1 to 5 and print it.

In [8]:
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

##7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [9]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

##8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [10]:
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

##9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [11]:
list = ['a', 'b', 'c', 'd']
print(list[1])

b

##10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [14]:
list=[10,20,30,40,50]
print(list[::-1])

[50, 40, 30, 20, 10]

##11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [15]:
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

## 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [17]:
tuple=('red', 'green', 'blue', 'yellow')
print(tuple[1:])

('green', 'blue', 'yellow')

##13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [18]:
tuple=(10,20,5,15)
print(min(tuple))

5

##14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [19]:
tuple=('dog', 'cat', 'rabbit')
print(tuple.index("cat"))

1

##15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [20]:
fruits=("apple","mango","orange")
print("kiwi" in fruits)

False

##16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [21]:
set={"a","b","c"}
print(set)

{'b', 'a', 'c'}

##17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [22]:
set={1,2,3,4,5}
set.clear()
print(set)

set()

##18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [23]:
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

##19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [24]:
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

##20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [25]:
set1={1,2,3}
set2={2,3,4}
print(set1.intersection(set2))

{2, 3}

##21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [27]:
dict={"name":"Mahuya","age":21,"city":"Bagnan"}
print(dict)

{'name': 'Mahuya', 'age': 21, 'city': 'Bagnan'}

##22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [28]:
dict={'name': 'John', 'age': 25}
dict["country"]="USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

##23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [29]:
dict={'name': 'Alice', 'age': 30}
print(dict["name"])

Alice

##24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [30]:
dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict["age"]
print(dict)

{'name': 'Bob', 'city': 'New York'}

## 25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [31]:
dict={'name': 'Alice', 'city': 'Paris'}
print("city" in dict)

True

##26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [32]:
list=[14,2.5,"Radha"]
print(list)
tuple=("Krishna",5+4j,3.14)
print(tuple)
dict={"name":"Mahuya","age":21}
print(dict)

[14, 2.5, 'Radha']
('Krishna', (5+4j), 3.14)
{'name': 'Mahuya', 'age': 21}

##27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

In [39]:
import random
numbers=[random.randint(1,100) for _ in range(5)]
numbers.sort()
print(numbers)

[12, 13, 15, 35, 98]

##28. Write a code to create a list with strings and print the element at the third index.

In [33]:
list=["apple","mango","orange","banana","kiwi"]
print(list[3])

banana

##29.  Write a code to combine two dictionaries into one and print the result.

In [40]:
dict1={"name":"Mahuya","age":21}
dict2={"city":"Bagnan","country":"India"}
dict3=dict1|dict2
print(dict3)

{'name': 'Mahuya', 'age': 21, 'city': 'Bagnan', 'country': 'India'}

##30. Write a code to convert a list of strings into a set.

In [ ]:
list=["Red", "Black", "White", "Pink"]
set = set(list)
print(set)